<div
  class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
  <div class="">
    <div class="flex items-center">
      <span class="text-xl text-skin-base">Scheduel</span>
    </div>
    <p class="mt-5">
      <span routerLink="/dashboard" class="cursor-pointer font-bold truncate">Dashboard</span>
      > Document</p>
  </div>
</div>


<div class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600  space-x-5">
  <p class="text-3xl mb-1 mt-1 ">Send Document</p>

  <form class="bg-skin-base w-full" id="addScheduelForm" (submit)="submit()">

    Title
    <input required [(ngModel)]="title" type="text" name="title"
           class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4">
    Description
    <textarea required [(ngModel)]="description" name="content" maxlength="2000"
              class="block py-1  h-24 px-11 mb-5 mt-1 bg-skin-muted w-full h-60 resize-y">
                </textarea>
    Import file

    <button type="button" (click)="chooseFile()" style="background: rgb(136, 136, 136);"
            class="btn-submit mt-3 block py-1 mb-5 mt-1 w-full lg:w-1/4">Add Work
    </button>
    <input type="file" id="fileInput" style="display: none" accept=".doc, .docx" (change)="onFileSelected($event)">

    <div *ngIf="file">
      <img class="file-upload-image-scheduel" src="assets/wordicon.png" alt="your image"/>
      {{file.name}}
    </div>
  </form>
</div>
