<div>
  <div
    class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
    <div class="">
      <div class="flex items-center">
        <span class="text-xl text-skin-base">Documents</span>
      </div>
      <p class="mt-5">
        <span routerLink="/dashboard" class="cursor-pointer font-bold truncate">Dashboard</span>
        > Documents</p>
    </div>
  </div>
  <div
    class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
    <div class="">
      <div class="flex items-center">
        <div (click)="createDocumentModalOpen= true"
             class="text-xl text-skin-base text-teal-600 font-bold flex space-x-1 flex items-center cursor-pointer">
          <span>Create new documents</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<app-creat-document *ngIf="createDocumentModalOpen"
                    (close)="createDocumentModalOpen= false"
                    (success)="createDocumentModalOpen = false">

</app-creat-document>

<div class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600">
<div *ngIf="documents$ | async as document">

  <table class="text-left w-full">
    <thead class="uppercase">
    <tr>
      <th class="px-6 py-3">
        Title
      </th>
      <th class="px-6 py-3 text-center">
        Description
      </th>
      <th class="px-6 py-3 text-center">
        File
      </th>
      <th class="px-6 py-3 text-center">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doc of document.content">
      <ng-container *ngIf="doc.archived == false">
        <td class="px-6 py-4">
          {{doc.title}}
        </td>
        <td class="px-6 py-4 text-xl text-center">
          {{doc.description}}
        </td>
        <td>
          <img *ngIf="doc.file_url" style="margin-left: 125px ;" class="h-12 w-12 border-none object-cover imgh"
               src="assets/fileimage.png" (click)="openlink(doc.file_url)">
          <span *ngIf="!doc.file_url">No work</span>
        </td>
        <td class="px-6 py-4 text-center flex justify-center space-x-3">
          <button (click)="deleteDocument(doc.id)" class="btn-del">Delete</button>
        </td>
      </ng-container>

    </tr>
    </tbody>
  </table>
</div>
</div>
