<div
  class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600 flex justify-between space-x-5">
  <div class="">
    <div class="flex items-center">
      <span class="text-xl text-skin-base">Scheduel</span>
    </div>
    <p class="mt-5">
      <span routerLink="/dashboard" class="cursor-pointer font-bold truncate">Dashboard</span>
      > Levels</p>
  </div>
</div>


<div class="bg-skin-base p-5 m-3 rounded-md shadow border-r-4 border-l-4 border-teal-600  space-x-5">
  <p class="text-3xl mb-1 mt-1 ">Send scheduel</p>
  <div class="flex ">
    <button class="py-1 mb-5 mt-1 " id="teacher" (click)="receiver('teacher')">Teacher</button>
    <button class="py-1 mb-5 mt-1 ml-2" id="student" (click)="receiver('class')">Class</button>
  </div>

  <form class="bg-skin-base w-full" id="editClassForm" (submit)="submit()">

    Title
    <input required [(ngModel)]="title" type="text" name="title"
           class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4">
    Description
    <input required [(ngModel)]="desc" type="text" name="desc"
           class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4">
    Import file


    <button type="button" (click)="chooseFile()" style="background: rgb(136, 136, 136);"  class="btn-submit mt-3 block py-1 mb-5 mt-1 w-full lg:w-1/4">Add Work</button>
    <input  type="file" id="fileInput" style="display: none" accept=".doc, .docx" (change)="onFileSelected($event)">

    <div *ngIf="file" >
      <img class="file-upload-image-scheduel" src="assets/wordicon.png" alt="your image" />
      {{file.name}}

    </div>

    <div *ngIf="chooseReciever == 'teacher'">
      <div *ngIf="teachers$ | async as teachers">
        Teachers
        <select [(ngModel)]="teacher"
                class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4" name="teacherId">

          <option *ngFor="let teacher of teachers"
                  value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="chooseReciever == 'class'">
      <div *ngIf="classes$ | async as classes">
              Classes
        <select [(ngModel)]="classe"
                class="block py-1 mb-5 mt-1 bg-skin-muted w-full lg:w-1/4" name="teacherId">
          <option *ngFor="let classe of classes.content"
                  value="{{classe.id}}">{{classe.name}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
